<!--All.tmpl -->
<h1>Расходы за все время</h1>
<table class = "table table-bordered table-sm">
<thead class = "thead-light">
<tr scope = "row">
    <th scope = "col">{{ knp_pagination_sortable(pagination, 'Id', '.id') }}</td>
    <th{% if pagination.isSorted('a.Title') %} class="sorted col"{% endif %}>{{ knp_pagination_sortable(pagination, 'Дата', '.date') }}</td>
    <th{% if pagination.isSorted('a.Title') %} class="sorted col"{% endif %}>{{ knp_pagination_sortable(pagination, 'Категория', '.category') }}</td>
    <th{% if pagination.isSorted('a.Title') %} class="sorted col"{% endif %}>{{ knp_pagination_sortable(pagination, 'Сумма', '.sum') }}, &#8381;</td>
    <th{% if pagination.isSorted('a.Title') %} class="sorted col"{% endif %}>{{ knp_pagination_sortable(pagination, 'Комментарий', '.comment') }}</td>
</tr>
</thead>
<tbody>
{% for number in pagination %}
  <tr>
      <th scope = "row">{{ number.id }}</td>
      <td>{{ number.date|date('d M Y г.') }}</td>
      <td>{{ number.category}}</td>
      <td> {{ number.sum }}  </td>
      <td>{{ number.comment }}</td>
  </tr>
{% endfor %}

<tr scope = "row">
<td colspan="5">
<div class="text-justify">{{ knp_pagination_render(pagination) }}</div>
</td>
</tr>
</tbody>
</table>

