<!DOCTYPE html>
<html>
<head>
<title>Операции</title>
</head>
<body style = "font-family: arial; font-size: 14px">



<p>Привет! Это тестовое задание для ЦВТ: приложение для учета расходов.</p>

<span><a href = "/db/show/month">Показать расходы по месяцам</a></span>

</body>
</html>
